

/***** LOGO *****/

.rf-sur-mesure {
  flex: none;
  padding-right: 0;
  height: 75px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.logo-conseiller-numerique-footer {
  height: 75px;
  margin-left: 1.25rem;
}

.logo-conseiller-numerique-footer img:first-child {
  height: 54px;
  font-weight: lighter!important;
}

.header__logo-rf {
	height: 78px;
}

.logo-france-services {
  margin-top: 20px;
  height: 120px;
}
.rf-footer__brand {
  flex-basis: calc(100%/3);
  padding-right: 1rem;
  flex-wrap: wrap;
}

.logo-conseiller-numerique {
  flex: none;
  padding-left: .5rem;
}
.logo-france-relance {
  height: 90px;
}

/***** TYPOGRAPHIE *****/

h1 {
  margin: 0;
}
h4, h5 {
  margin-bottom: 1rem;
}
.titrage {
  font-size: 56px;
  line-height: 1.25em;
}
.texte-centre {
  text-align: center;
}

.list-dash li {
  list-style: none;
}
.list-dash li:before {
  content: "-";
}

/***** COULEUR *****/

.bleu-conseiller {
  color: #2f29ff;
}
.fond-bleu-conseiller{
  background: #2f29ff;
}
.bleu-secondaire {
  color:#0067E2;
}
.fond-bleu-secondaire {
  background:#0067E2;
}
.blanc {
  color: #FFF;
}
.rouge {
  color: #FF2D2D;
}
.gris {
  color: #383838;
}
.contour-rouge {
    border: 1px solid #FF2D2D!important;
}
.contour-bleu {
    border: 1px solid #2f29ff!important;
}
.contour-gris {
    border: 1px solid #383838!important;
}
.fondBlanc {
  background: white;
}


/****** GRILLE & MISE EN PAGE *****/

.contenu-centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rf-header {
  position: relative;
  z-index: 10;
}
.rf-header__body {
  margin: 0!important;
}
.rf-footer__content {
  display: block;
  flex-wrap: inherit;
}
.rf-mt-15w {
    margin-top: 7.5rem;
}
.rf-mb-15w {
    margin-bottom: 7.5rem;
}

/***** ILLUSTRATION *****/

.illustration, .overlay {
  min-height: 100vh;
}
.illustration {
  background: url('../assets/img/paysage-societe-numerique.png') no-repeat
  center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.illustration h1 {
  margin-top: 0.5em;
}
.overlay {
  background: rgba(0,0,0,.25);
}
.etapes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.etape {
  height: 250px ;
}


/****** BOUTONS *****/

.rf-link {
  font-size: 16px!important;
  line-height: 1.5rem;
}
:root:not([data-theme=dark]) .rf-btn, :root:not([data-theme=dark]) [class*="--scheme-light-"] .rf-btn, :root:not([data-theme=dark]) [class*=rf-scheme-light] .rf-btn {
    --color-hover: none;
    --color-active: none;
}
@media (hover: hover) and (pointer: fine)
.rf-btn:not(:disabled):active, .rf-btn:not([disabled]):active {
    background-image: none;
}
.big-btn {
  display: inline-block;
  padding: 1.5rem;
  border: none;
  border-radius: 50px;
  width: 70%;
}

/***** TABLEAUX *****/

table.conservation {
  border-collapse: collapse;
}

table.conservation th {
  background-color: lightgray;
}

table.conservation td, th {
  border: solid 2px black;
  padding: 5px;
}

/***** RESPONSIVE *****/

@media (max-width: 940px) {
  .logo-france-relance {
    padding-left: 0em;
  }
}

@media (max-width: 800px) {
  .illustration h1 {
    font-size: 2.5rem;
    line-height: 1.25em;
  }
  .illustration h4, .illustration p {
    font-weight: normal;
  }

  #btn-question {
    margin-top: 3em;
  }

  .big-btn {
    width: 80%;
  }

  .logo-france-relance {
    padding-left: 1.5em;
  }

  .rf-footer__brand {
    flex-basis: inherit;
    padding-right: inherit;
    flex-wrap: inherit;
  }

  .rf-footer__bottom-list > li.confidentialite {
    margin: 0;
  }

  .rf-footer__bottom-list > li.confidentialite::before {
    width: 0;
    margin: 0;
  }

  .rf-footer__bottom-list > li {
    margin: .2rem 0 0 .2rem;
  }

  .rf-footer__bottom-list > li::before {
    margin: .2rem;
  }
}
