

/***** LOGO *****/

.fr-sur-mesure {
  flex: none;
  padding-right: 0;
  height: 75px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.logo-conseiller-numerique-footer {
  height: 75px;
  margin-left: 1.25rem;
}

.logo-conseiller-numerique-footer img:first-child {
  height: 54px;
  font-weight: lighter!important;
}

.header__logo-fr {
	height: 78px;
}

.fr-footer__brand {
  flex-basis: calc(100%/3);
  padding-right: 1rem;
  flex-wrap: wrap;
}

.logo-conseiller-numerique {
  height: 75px;
  margin-left: 1.25rem;
  border-left: 1px solid silver;
}

.logo-conseiller-numerique img:first-child {
  height: 54px;
  font-weight: lighter!important;
  margin-top: 1.2em;
}

/* Surcharge pour le libellé FR */
.fr-logo__title {
	font-size: 1.22em!important;
	letter-spacing: -.06em!important;
  line-height: 1em!important;
}

.logo-france-relance {
  height: 90px;
}

/***** TYPOGRAPHIE *****/

h1 {
  margin: 0;
}
h4, h5 {
  margin-bottom: 1rem;
}
.titrage {
  font-size: 56px;
  line-height: 1.25em;
}
.texte-centre {
  text-align: center;
}
.contenu-centre {
  text-align: center;
  width: 100%;
}
.list-dash li {
  list-style: none;
}
.list-dash li:before {
  content: "-";
}

.h4CustomKit {
  margin-top: 0;
  margin-bottom: 48px;
  font-size: 24px;
}

.boldText {
  font-weight: 700;
  font-style: normal;
}
.fr-text--lg {
  line-height: 1.25rem !important;
}
.fr-h1 {
  font-size: 3rem !important;
}
.sous-titre-lien {
  font-size: 12px;
  line-height: 24px;
  color: #6A6A6A;
}
/***** COULEUR *****/

.bleu-france {
  color: #000091;
}

.bleu-conseiller {
  color: #2f29ff;
}
.fond-bleu-conseiller{
  background: #2f29ff;
}
.bleu-secondaire {
  color:#0067E2;
}
.fond-bleu-secondaire {
  background:#0067E2;
}
.blanc {
  color: #FFF;
}
.rouge {
  color: #FF2D2D;
}
.gris {
  color: #383838;
}
.contour-rouge {
    border: 1px solid #FF2D2D!important;
}
.contour-bleu {
    border: 1px solid #2f29ff!important;
}
.contour-gris {
    border: 1px solid #383838!important;
}
.fondBlanc {
  background: white;
}


/****** GRILLE & MISE EN PAGE *****/
.fr-header__brand {
  height: 98px;
}
.contenu-centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fr-header {
  position: relative;
  z-index: 10;
}
.fr-header__body-row, .fr-header__body {
  margin: 0!important;
  padding: 0;
}
.fr-menu__list {
  width: 18rem;
}
.fr-menu__list li{
  border-bottom: 1px solid #E7E7E7;
}
.fr-footer__content {
  display: block;
  flex-wrap: inherit;
}
.fr-mt-2w {
  margin-top: 2rem !important;
}
.fr-mt-15w {
    margin-top: 7.5rem;
}
.fr-mb-15w {
    margin-bottom: 7.5rem;
}

/***** ILLUSTRATION *****/

.illustration, .overlay {
  min-height: 100vh;
}
.illustration {
  background: url('../assets/img/paysage-societe-numerique.png') no-repeat
  center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.illustration h1 {
  margin-top: 0.5em;
}
.overlay {
  background: rgba(0,0,0,.25);
}
.etapes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.etape {
  height: 250px ;
}

a[target=_blank]::after {
  display: none; /* suppression du picto blank */
}


/****** BOUTONS *****/
.fr-header__body-row div.fr-header__menu ul.fr-nav__list{
  margin-left: 15px;
}
.fr-btn {
  font-size: 1rem !important;
  line-height: 1.25rem;
  min-height: 2.5rem;
}
.fr-link {
  font-size: 16px!important;
  line-height: 1.5rem;
}
.fr-custom-link {
  font-size: 1rem !important;
  line-height: 1.5rem;
  padding: 2.2rem 1rem !important;
  color: #383838 !important;
  height: 98px !important;
}
.fr-custom-link:hover {
  background-image: linear-gradient(0deg,#9A9AFF,#9A9AFF) !important;
}
:root:not([data-theme=dark]) .fr-btn, :root:not([data-theme=dark]) [class*="--scheme-light-"] .fr-btn, :root:not([data-theme=dark]) [class*=fr-scheme-light] .fr-btn {
    --color-hover: none;
    --color-active: none;
}
.fr-footer__content-link {
  font-size: 1rem;
}
@media (hover: hover) and (pointer: fine) {
  .fr-btn:not(:disabled):active, .fr-btn:not([disabled]):active {
      background-image: none;
  }
}
.big-btn {
  display: inline-block;
  padding: 1.5rem;
  border: none;
  border-radius: 50px;
  width: 70%;
}

/***** TABLEAUX *****/

table.conservation {
  border-collapse: collapse;
}

table.conservation th {
  background-color: lightgray;
}

table.conservation td, th {
  border: solid 2px black;
  padding: 5px;
}

/***** RESPONSIVE *****/
@media (min-width: 992px) {
  .fr-link--close {
    display: none;
  }
}

@media (max-width: 992px) {
  .fr-hide-btn {
    display: none;
  }
  .fr-link--close {
    margin-right: 5px;
  }
  .fr-menu__list {
    width: 100%;
  }
  .fr-custom-link {
    text-align: right;
    width: 100%;
  }
  .fr-menu .fr-nav__link {
    width: 100%;
  }
}

@media (max-width: 48em) {
  div.fr-footer__content {
    justify-content: flex-start !important;
  }

}

@media (max-width: 940px) {
  .logo-france-relance {
    padding-left: 0em;
  }

}

@media (max-width: 800px) {
  .illustration h1 {
    font-size: 2.5rem;
    line-height: 1.25em;
  }
  .illustration h4, .illustration p {
    font-weight: normal;
  }

  .big-btn {
    width: 80%;
  }

  .fr-footer__brand {
    flex-basis: inherit;
    padding-right: inherit;
    flex-wrap: inherit;
  }

  .fr-footer__bottom-list > li.confidentialite {
    margin: 0;
  }

  .fr-footer__bottom-list > li.confidentialite::before {
    width: 0;
    margin: 0;
  }

  .fr-footer__bottom-list > li {
    margin: .2rem 0 0 .2rem;
  }

  .fr-footer__bottom-list > li::before {
    margin: .2rem;
  }
}

@media (max-width: 767px) {

  #btn-kit-communication {
    margin-top: 3em;
    margin-bottom: 3em;
  }

}


@media (min-width: 636px) and (max-width: 991px) {
  .btn-br {
    display: none;
  }
}
